body{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.controls{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    background-color: red;
}
button{
    height: 20vh;
    font-size: 36pt;
}
.grid{
    height: 100vh;
    width: 100vh;
    flex: 0 0 auto;
    display:flex;
    flex-wrap: wrap;
    background-color: gray;
}
.cell{
    flex: 1 0 auto;
    background-color: white;
}
.colorPicker{
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    background-color: blue;
}